<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="/About/Index/">Hakkında</a>
            </li>
            <li>
                <a href="/Category/CategoryList">Kategoriler</a>
            </li>
            <li>
                <a href="/Contact/Index">İletişim</a>
            </li>
            <li>
                <a href="/Education/Index">Eğitimler</a>
            </li>
            <li>
                <a href="/Experience/Index">Deneyimler</a>
            </li>
            <li>
                <a href="/Testimonial/Index/">Referanslar</a>
            </li>
            <li>
                <a href="/Project/Index/">Projeler</a>
            </li>
            <li>
                <a href="/Expertise/Index/">Uzmanlık Alanları</a>
            </li>
            <li>
                <a href="/SocialMedia/Index/">Sosyal Medya Hesapları</a>
            </li>
            <li>
                <a href="/Statistics/Index">İstatistikler</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                © Yusuf Yıldız ;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
