
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Bir hata oluştu.. :(</h2>

<p> Gelen veri null geliyor olabilir.!</p>
<p>Bir sorun oluştu. Lutfen View ve Controller isteklerinizi kontrol ediniz.</p>