
<header class="s-header">


    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul>
                <li class="#current"><a href="#intro" class="smoothscroll">Tanıtım</a></li>
                <li><a href="#about" class="smoothscroll">Hakkımda</a></li>
                <li><a href="#experience" class="smoothscroll">Deneyimler</a></li>
                <li><a href="#works" class="smoothscroll">Projeler</a></li>
                <li><a href="#contact" class="smoothscroll">İletişim</a></li>
            </ul>
        </nav>
    </div>

</header> <!-- end s-header -->
