<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                İletişim
            </h2>

            <p class="h1">
                Sorularınız veya iş teklifleriniz hakkında 
                konuşmak için benimle iletişime geçebilirsiniz.
            </p>
        </div>
    </div> <!-- end contact-top -->

    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Bana Ulaşın</h3>
            <p class="contact-links">
                <a href="mailto:61yusufy@gmail.com" class="mailtoui">61yusufy@gmail.com</a> <br>
                <a href="tel:+905511610423">+90 551 *** ****</a>
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Sosyal Medya</h3>
            <ul class="contact-social">
                <li>
                    <a href="https://www.linkedin.com/in/yusuf-yildiz-627907250/" target="_blank" rel="noopener noreferrer">
                        Linkedin
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/yusuf_7_/" target="_blank" rel="noopener noreferrer">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://github.com/yusufy61" target="_blank" rel="noopener noreferrer">
                        Github
                    </a>
                </li>
            </ul>
        </div>
        <div class="column lg-4 md-12 contact-block">
            <a href="mailto:61yusufy@gmailcom" class="mailtoui btn btn--medium u-fullwidth contact-btn">Merhaba.</a>
        </div>
    </div> <!-- end contact-bottom -->

</section>
