@model AcunMedyaPortfolioProject.Models.Expertise
@{
    ViewBag.Title = "UpdateExpertise";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Uzmanlık Alanı Güncelle</h2>

<div class="container">
    <form method="post">
        <label>Uzmanlık Alanı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <label>Aktiflik Durumu</label>
        @Html.DropDownListFor(x => x.isActive, new List<SelectListItem>
        {
            new SelectListItem { Text = "Aktif", Value = "true" },
            new SelectListItem { Text = "Pasif", Value = "false" }
        }, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>