
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İstatistikler</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Projeler</td>
                <td>Deneyimler</td>
                <td>Referanslar</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewData["projects"]</td>
                <td>@ViewData["experiences"]</td>
                <td>@ViewData["testimonials"]</td>
            </tr>
        </tbody>
    </table>
</div>